.card__name {
  padding: 2px 12px;
  position: absolute;
  margin: 15px 125px 0;
  line-height: 20px;
  font-size: 16px;
  background-color: #fff;
  opacity: 60%;
  border-radius: 4px;
}

.card__image {
  padding: 0;
  margin: 0;
  object-fit: cover;
  width: 323px;
  height: 328px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 30%);
}
