.sideBar__user {
  display: flex;
  align-items: center;
  gap: 6px;
}

.sideBar__username {
  display: inline-block;
  width: 157px;
  margin: 0;
  font-size: 20px;
  line-height: 25px;
}

.sideBar__avatar {
  width: 56px;
  height: 56px;
}
